body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

#main-content {
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
    background-color: lightgray;
}

.absolute {
    position: absolute;
    width: 200px;
}

#m1 {
    background-color: red;
    padding: 20px;
    top: 20%;
    left: 5%;
}

#m2 {
    background-color: green;
    padding: 20px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#m3 {
    background-color: blue;
    padding: 20px;
    top: 20%;
    right: 5%;
}

#muc-tieu {
    background-color: white;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#m6 {
    background-color: blue;
    padding: 20px;
    bottom: 20%;
    left: 5%;
}

#m5 {
    background-color: green;
    padding: 20px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#m4 {
    background-color: red;
    padding: 20px;
    bottom: 20%;
    right: 5%;
}